body {
    font-family: 'Cherry Cream Soda', cursive;
}
/*header*/
#dino {
    
    margin-top: 5px;
    margin-left: 5px;
    height: 7%;
    width: 7%;
}
#name {
    color: white;
    font-size: 50px;
}
/*stuff I made page*/
#title {
    font-family: 'Cherry Cream Soda', cursive;
    color: #EE008D;
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}
#intro {
    color: #53B747;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}
#ghlink {
    color: #EE008D;
}
.thumbnail {
    text-align: center;
    height: 475px;
    background-color: #EEF9ED;
}
.btn {
    
    background-color: #53B747;
    border: 1px solid #53B747;
}
.btn:hover {
    background-color: #29ADE4;
    border: 1px solid #29ADE4;

}
a.btn {
    position: absolute;
    bottom: 40px;
    right: 120px;
}
.projname {
    color: #EE008D;
    font-size: 30px;
    text-align: center;
}

/*individual project page*/
.image {
    height:300px;
    width:900px;
}