@model Portfolio.Models.ProjectViewModel
@{
    Layout = "~/Views/Shared/_StuffLayout.cshtml";
    ViewBag.Title = "Stuff I Made";
}

<link href='https://fonts.googleapis.com/css?family=Cherry+Cream+Soda' rel='stylesheet' type='text/css'>
<link href="~/Content/MadeThese.css" rel="stylesheet" type="text/css" />
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<div class="container">
    <h1 id="title">Stuff I Made</h1>
    <p id="intro">Here is a selection of my favorite things I've made so far. More projects can be found on my GitHub account <a href="http://www.github.com/yankri" id="ghlink">here</a>.</p>
    @foreach (var item in Model.Projects)
    {
        var languages = Model.Languages.Where(x => x.ID == item.ID).ToList();
        var image = Model.Screenshots.Where(x => x.ID == item.ID).Select(x => x.Image).First().ToString();

        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive"src="~/@image" alt="...">
                <div class="caption">
                    <h3 class="projname">@item.ProjectName</h3>
                    <p>@item.Description</p>
                    <p><a href="@Url.Action("IdvProject", "Home", new { id = item.ID })" class="btn btn-primary" role="button">Get the Deets</a> </p>
                </div>
            </div>
        </div>
    }
</div>
