@{
    Layout = "~/Views/Shared/_StuffLayout.cshtml";
    ViewBag.Title = "Other Stuff";
}

<div class="container">
    <div class="row">
        <div class="col-md-4"><p id="mwpic"><a href="http://www.moonlitway.com"><img id="mw" src="~/image/2016-03-22.png" /></a></p></div>
        <div class="col-md-8"><h1 id="mwplug">Shameless <a class="linksies" href="http://www.etsy.com/shop/moonlitway" target="_blank">Etsy Shop</a> plug here. Or check out my website <a class="linksies" href="http://www.moonlitway.com" target="_blank">here</a>. I make a variety of handmade Pagan ritual tools, apparel, and decor.</h1></div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-2">
            <p><a href="http://www.facebook.com/moonlitway"><img id="facebook" src="~/image/FB-f-Logo__blue_72.png" /></a></p>
        </div>
        <div class="col-md-2">
            <p><a href="http://www.instagram.com/moonlitway"><img id="insta" src="~/image/Instagram-v051916.png" /></a></p>
        </div>
        <div class="col-md-2">
            <p><a href="http://www.twitter.com/moonlitway13"><img id="twitter" src="~/image/TwitterLogo_white.png" /></a></p>
        </div>
    </div>
    <hr />

    <div class="row">
        <table>
            <tr>
                <td><span class="name">Kiya</span> <br /><span class="breed"> Border Collie Mix</span> <br /> <span class="likes">Enjoys running away, playing with her horse ball, and sleeping behind the chair.</span></td>
                <td><img class="img" src="~/image/1173734_832068251781_1882872502_n.jpg" /></td>
                <td><span class="name">Tyrael </span><br /> <span class="breed">Cattle Dog Mix</span> <br /> <span class="likes"> Enjoys licking people, being clumsy, and not listening.</span></td>
                <td><img class="img" src="~/image/12919768_10100271232130821_8023653966763495782_n.jpg" /></td>
            </tr>
            <tr>
                <td><img class="img" src="~/image/11139351_10100149794163481_9017015709331893082_n.jpg" /></td>
                <td><span class="name">Raven </span><br /><span class="breed"> Meow Meow </span><br /> <span class="likes">Enjoys eating the neighbor's cat food, puking on the carpet, and kitty kisses.</span></td>
                <td><img class="img" src="~/image/2016-05-31.jpg" /></td>
                <td><span class="name">Donut </span><br /> <span class="breed">Baby Kitty Extraordinaire </span><br /> <span class="likes">Enjoys kitten stuff, doesn't afraid of anything-ing, and sleeping.</span></td>
            </tr>
        </table>
    </div>
</div>