img {
    max-height: 350px;
}

h1{
    color: #EABE37;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 500;
    font-size: 60px;
}

.thumbnail {
    height: 500px;
    background-color: #BCABAE;
    color: #0f0f0f;
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Alegreya Sans', sans-serif;
}
.networkimage {
    max-height: 150px;
    height: 150px;
}

#networkthumbs {
    height: 275px;
}

#showsbygenre {
    height: 500px;
}